[submodule "mu-plugins/options-framework-plugin"]
	path = mu-plugins/options-framework-plugin
	url = https://github.com/devinsays/options-framework-plugin.git
[submodule "mu-plugins/sld-custom-content-and-taxonomies"]
	path = mu-plugins/sld-custom-content-and-taxonomies
	url = https://github.com/jkudish/sld-custom-content-and-taxonomies.git
[submodule "mu-plugins/cmb"]
	path = mu-plugins/cmb
	url = https://github.com/jaredatch/Custom-Metaboxes-and-Fields-for-WordPress.git
[submodule "mu-plugins/wp-post-formats"]
	path = mu-plugins/wp-post-formats
	url = https://github.com/crowdfavorite/wp-post-formats.git
[submodule "plugins/wordpress-seo"]
	path = plugins/wordpress-seo
	url = https://github.com/wp-mirror/mirror-wordpress-seo.git
[submodule "plugins/w3-total-cache"]
	path = plugins/w3-total-cache
	url = https://github.com/wp-mirror/mirror-w3-total-cache.git
[submodule "plugins/wp-query-multiple-taxonomies"]
	path = plugins/wp-query-multiple-taxonomies
	url = https://github.com/scribu/wp-query-multiple-taxonomies.git
[submodule "plugins/wp-front-end-editor"]
	path = plugins/wp-front-end-editor
	url = https://github.com/scribu/wp-front-end-editor.git
[submodule "themes/roots"]
	path = themes/roots
	url = https://github.com/retlehs/roots.git
